<div class="mt-5">
    <div class="overflow-x-auto">
  <table class="table table-zebra">
    <!-- head -->
    <thead>
      <tr>
        <th>#</th>
        <th>Indicativo</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
        <th>Info</th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries(); track country.cca2; let index = $index) {
      <tr>
        <td>{{ index + 1 }}</td>
        <td>{{ country.cca2 }}</td>
        <td><img [src]="country.flags" [alt]="country.name" class="w-10" /></td>
        <td>{{ country.name }}</td>
        <td>{{ country.capital }}</td>
        <td>
          <span class="badge badge-secondary">
            {{ country.population | number }}
          </span>
        </td>
        <td>
          <a
            class="btn btn-sm btn-secondary cursor-pointer"
            >Ver más</a
          >
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
</div>